NODE_ENV=development
PORT=3000
CORS_ORIGIN=http://localhost:4200,http://localhost:8080

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=celsia
DB_PASSWORD=celsia
DB_DATABASE=celsia_internet
# Solo la usa el contenedor de MySQL (docker-compose) para el usuario root
DB_ROOT_PASSWORD=celsia_root
